<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health is wealth</title>
        <link rel="stylesheet" href="style_final.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
       
    </head>
    <body>
        <div class="banner">
            <video autoplay loop muted plays-inline>
                <source src="video1.mp4" type="video/mp4">
            </video>
            <div class="navbar">
                <img class="logo" src="logo.png"><a href="/home.html"></a>
                <ul>
                    <li><a href="/home.html">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/helpline.html">Helpline</a></li>
                    <li><a href="/contact.html">Appointment offline</a></li>
                    <li><a href="/login.html">Login</a></li>
                </ul>
            </div>
            <div class="content">
                
        
                <h1 > Hi </h1>
                <p style="font-size: xxx-large;"> <span id="autotype-text"></span></p>
                <div class="about_details">
                </div>
                <div>
                    <button type="button">Contact Us</button>
                </div>
                <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
                <script>
                    var typed = new Typed('#autotype-text', {
                        strings: [ 'I am Healer Bot', 'Virtual doctor at your fingertips!'],
                        smartBackspace: true, // Default value
                        typeSpeed:50,
                        backspeed:75,
                        loop:true,
                      });
                </script>
                
            </div>
        </div>
    </body>
</html>